.business-listing {
    width: 100%;
    padding: 50px 0 100px 0;
    background: #F6F9FA;
}

.section-padding {
    padding: 100px 0;
}

.section-heading {
    h3 {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        line-height: 102px;  
        color: #242424;
        margin-bottom: 8px;
    }
    p {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;  
        color: #777777;
        margin-bottom: 46px;
    }
    .filters-pills { 
        list-style: none;
        padding-left: 0px; 
        li {
            margin-right: 1rem;
            .active {
                background: #3251F4;
                color: #FFFFFF;
            }
            a {
                border: 1px solid #3251F4;
                border-radius: 37px;
                font-family: 'Poppins', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #242424;
                text-transform: capitalize;
                text-decoration: none;
                padding: 12px 28px;

                &:hover {
                  background: #3251F4;
                  color: #FFFFFF;
                }
            }
        }
    }
}

.collections {
    width: 100%;
    .collection-items {
        .img-placeholder { 
            width: 100%;
            height: 236px;
            display: block;
            margin-bottom:20px; 
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            h3 { 
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 36px;
                line-height: 44px; 
                color: #FFFFFF; 
                text-align: center;
            }
        }
        p {
            margin-bottom: 70px;
        }
    }
}