@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

html, body {
    height: 100vh;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

// Includes the Components CSS 

@import 'components/buttons'; 
@import 'components/dropdowns'; 
@import 'components/header'; 
@import 'components/breadcrumb';
@import 'components/pagination';
@import 'components/sidebar';
@import 'components/listing-card';
@import 'components/footer';
@import 'responsive';

@import 'pages';